*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

button {
  padding: 15px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 100dvw;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculator-container {
  border: 2px solid black;
  min-width: 20%;
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 15px;
  font-size: 1.6rem;
  font-weight: bold;
  gap: 12px;
}

.calculator-container button {
  background-color: lightgray;
  border-radius: 12px;
}
button.off-button {
  flex: 0;
}

.calculator-keys {
  display: flex;
  gap: 4px;
  justify-content: space-evenly;
}

button.active-operator {
  background-color: red;
}

.power-bar {
  display: flex;
  width: 25%;
  height: 100%;
  border: 2px solid red;
  background-color: yellow;
}

.power-cell {
  border: 2px solid green;
  flex: 1;
}

.display {
  background-color: black;
  color: white;
  flex: 1;
  text-align: right;
  padding: 6px;
  font-size: 2rem;
}

.row-1,
.row-3 {
  display: flex;
  justify-content: space-between;
}

[class*="col-"] {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.col-1 button,
.col-2 button,
.col-3 button,
.col-4 button {
  height: 20%;
}
.col-5 button {
  height: 20%;
}
.col-5 #add {
  flex-grow: 2;
}

footer {
  text-align: right;
}
