*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

button {
  padding: 15px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 100dvw;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculator-container {
  border: 2px solid black;
  height: 50%;
  min-width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 15px;
}

.calculator-container button {
  flex: 1;
}
button.off-button {
  flex: 0;
}

.power-bar {
  display: flex;
}

.row-2 {
  display: flex;
  justify-content: center;
}
.row-1,
.row-3,
.row-4,
.row-5,
.row-6,
.row-7 {
  display: flex;
  justify-content: space-between;
}

[class*="row-7-"] {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

footer {
  text-align: right;
}
